<!DOCTYPE html>
<html lang="en">

<head>
    <title>EC Number Visualization</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"><!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <!-- Visavail.js style -->
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='visavail.css') }}" rel='stylesheet' type='text/css'>
    <!-- font-awesome -->
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel='stylesheet' type='text/css'>
    <!-- body style for this example -->
    <style>
        body {
            font-family: "Muli", "Helvetica", Arial, sans-serif;
        }
    </style>


</head>
<body>
    <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('home') }}">Enzymes In Crisis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IC Groups <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('premade_query', query='~ ~ ~')}}">All</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url_for('premade_query', query='1') }}">1</a></li>
                    <li><a href="{{ url_for('premade_query', query='2') }}">2</a></li>
                    <li><a href="{{ url_for('premade_query', query='3') }}">3</a></li>
                    <li><a href="{{ url_for('premade_query', query='4') }}">4</a></li>
                    <li><a href="{{ url_for('premade_query', query='5') }}">5</a></li>
                    <li><a href="{{ url_for('premade_query', query='6') }}">6</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" action="{{ url_for('custom_query') }}" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" name="query" placeholder="Enzyme name">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">{% block body %}{% endblock %}</div>
    <div class="col-md-2"></div>
</body>
</html>
